<nav>
    <ul>
        <li><a href="/"><i class="fas fa-home"></i></li>
        <li><a href="/">Home</a></li>
        <li><a href="/all-simploniens">AllUsers</a></li>
        <li><a href="/add-simploniens">FormUser</a></li>
    </ul>
</nav>