<h1>Tous les Users </h1>

{{#each a}}
<p>Nom : {{this.name}} - <a href="/detail/{{this.id}}">detail</a>
 -<a href="/delete/{{this.id}}">delete</a> - -<a
        href="/edit/{{this.id}}">edit</a></p>
{{/each}}