<h1>Formulaire</h1>

<form method="POST" action="/ajout">
    <input type="text" placeholder="Votre Nom " name="name">
    <input type="email" placeholder="Votre email" name="email">
    <input type="text" placeholder="Votre langage Favorit" name="langage">
    <input type="submit" value="envoyer">




</form>

